@model IEnumerable<SmartQueue.Web.Models.CoffeeMachineViewModel>

@{
    ViewBag.Title = "Все кофеварки";
}

<h2>Все кофеварки</h2>
@if (!Model.Any())
{
    <div>
        У вас еще нет доступных кофеварок.
        <br/>
        Обратитесь к администратору для того, что бы он зарегестрировал новую кофеварку.
    </div>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            @if (!User.IsInRole("Director"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Company)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.ServiceStaff)
            </th>
            @if (User.IsInRole("Director"))
            {
                <th></th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                @if (!User.IsInRole("Director"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Company)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceStaff)
                </td>
                @if (User.IsInRole("Director"))
                {
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", new {id = item.Id})
                    </td>
                }
            </tr>
        }

    </table>
}
