@using SmartQueue.Authorization.Infrastructure
@model IEnumerable<SmartQueue.Web.Models.UserViewModel>

@{
    ViewBag.Title = "Неактивироавнные сотрудники";
}

<h2>Неактивироавнные сотрудники</h2>
@if (!Model.Any())
{
    <div>Нет неактивироавнных сотрудников</div>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>@Html.ActionLink("Активировать всех сотрудников", "ActivateAllEmployees", new { id = User.Identity.GetUser().CompanyId })</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Активировать", "ActivateConcreteEmployee", new {id = item.Id})
                </td>
            </tr>
        }

    </table>
}
