@using SmartQueue.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Вход в личный кабинет";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div id="login-page">
    <div class="container">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {@class = "form-login form-horizontal"}))
        {
            <h2 class="form-login-heading">Вход</h2>
            <div class="login-wrap">
                @if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <div class="alert alert-danger">@ViewBag.Error</div>
                }
                @Html.AntiForgeryToken()
                <div>
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                </div>
                @Html.TextBoxFor(model => model.Login, new {@class = "form-control", placeholder = Html.DisplayNameFor(model => model.Login), autofocus = ""})
                <div>
                    @Html.ValidationMessageFor(m => m.Login, "", new {@class = "text-danger"})
                </div>
                <br>
                @Html.PasswordFor(model => model.Password, new {@class = "form-control", placeholder = Html.DisplayNameFor(model => model.Password)})
                <div>
                    @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                </div>
                <br/>
                <div>
                    @Html.CheckBoxFor(model => model.RememberMe, new {@class = "col-md-offset-1"})
                    @Html.LabelFor(model => model.RememberMe)
                </div>
                <br/>
                <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> ВОЙТИ</button>
                <hr>
                <div class="registration">
                    Еще нет аккаунта?<br/>
                    @Html.ActionLink("Зарегистрировать фирму", "RegisterCompany")
                    <br/>
                    @Html.ActionLink("Зарегистрировать нового пользователя", "RegisterUser")
                </div>
            </div>
        }

    </div>
</div>

@section Scripts{
    @if (TempData.ContainsKey("Registered"))
    {
        @:swal("Учетная запись зарегистрирована!", "@TempData["Registered"]", "success");
    }
}