@model SmartQueue.Web.Models.RegisterCompanyViewModel
@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div id="login-page">
    <div class="container">
        @using (Html.BeginForm("RegisterCompany", "Account", FormMethod.Post, new { @class = "form-login form-horizontal", role = "form" }))
        {
            <h2 class="form-login-heading">Регистрация компании</h2>
            <div class="login-wrap">
                @if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <div class="alert alert-danger">@ViewBag.Error</div>
                }
                @Html.AntiForgeryToken()
                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                @Html.TextBoxFor(model => model.Login, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Login), autofocus = "" })
                <div>
                    @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                </div>
                <br>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Email), autofocus = "" })
                <div>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <br>
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Password) })
                <div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <br />
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.ConfirmPassword) })
                <div>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                <br/>
                @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.CompanyName) })
                <div>
                    @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-danger" })
                </div>
                <br />
                <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-plus"></i> РЕГИСТРАЦИЯ</button>
                <hr>
                <div class="registration">
                    Уже в системе?<br />
                    @Html.ActionLink("Войти", "Login")
                </div>
            </div>
        }
    </div>
</div>